extends layout

block title
  title Bookings

block content
  main.container(role='main').text-center
    for booking in bookings
      .card-deck.mb-3.text-center
      .card.mb-4.box-shadow
        .card-header
          h4.my-0.font-weight-normal #{booking.name}
        .card-body
          h1.card-title.pricing-card-title
            | #{booking.price}
          ul.list-unstyled.mt-3.mb-4
            li #{booking.quantity}
          a(href=booking.url) More Details