extends layout

block title
  title Cart

block content
  main.container(role='main').text-center
    h1 User: #{cart.user.username}
    p #[strong Total:] #{cart.total}
    
    for booking in cart.bookings
      h1 Booking: #{booking.name}
      p #[strong Price:] #{booking.price}