extends layout

block title
  title Cart

block content
  main.container(role='main').text-center
    h1 Contents
    
    hr
    
    for booking in cart.bookings
      h2 Booking: #{booking.name}
      h2 Price: #{booking.price}
      
      form(method='POST' action='/booking/' + booking._id + '/delete')
        button.btn.btn-lg.btn-primary(type="submit") Remove
        
      hr
      
    h1 #[strong Total:] #{cart.total}