extends layout

block title
  title Home

block content
  main.container(role='main').text-center
    .homepage
      h1 Welcome to the Convention site.
      
      if session && session.userid
        p.lead
          | Welcome, you are logged in
      else
        p.lead
          | Welcome, you are not logged in