extends layout

block content
  h1= title
  p Welcome to #[em Convention]

  p The website currently has the following record counts:

  ul
   li #[strong Users:] !{data.user_count}
   li #[strong Orders:] !{data.order_count} 
