extends layout

block title
  title Home

block content
  main.container(role='main').text-center
    .homepage
      h1 Bootstrap starter template
      
      if session && session.userId
        p.lead
          | Logged In.
      else
        p.lead
          | Logged Out.