extends layout

block title
  title Home

block content
  main.container(role='main').text-center
    .homepage
      h1 Welcome to the Convention site.
      
      if session && session.user
        p.lead
          | You are currently logged in!
      else
        p.lead
          form(action='/user/login')
            button.btn.btn-lg.btn-primary(type="submit") Log In
        p.lead
          form(action='/user/signup')
            button.btn.btn-lg.btn-primary(type="submit") Sign Up