doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/') Home
                li 
                  a(href='/user/signup') Sign Up
                li 
                  a(href='/user/login') Log In
                li 
                  a(href='/user/logout') Log Out
        div(class='col-sm-10')
          block content