doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Convention")
    meta(name="author" content="Stephan Kroukamp")
    
    link(rel="icon" href="/images/favicon.ico")
    
    block title
    
    include stylesheets.pug
    include scripts.pug

    block stylesheets
    // Custom stylesheets
  body
    include navbar.pug
    
    block content
    
    include footer.pug