extends layout

block content
  h1 #{title}: #{order.user.firstName}
  p= order.price
  
    p Do you really want to delete this Order?

    form(method='POST' action='')
      div.form-group
        input#orderid.form-control(type='hidden',name='orderid', required='true', value=order._id )

      button.btn.btn-primary(type='submit') Delete
