extends layout

block title
  title Bookings

block content
  main.container(role='main').text-center
    for product in products
      .card-deck.mb-3.text-center
      .card.mb-4.box-shadow
        .card-header
          h4.my-0.font-weight-normal #{product.name}
        .card-body
          h1.card-title.pricing-card-title
            | #{product.price}
          ul.list-unstyled.mt-3.mb-4
            li #{product.quantity}
          a(href=product.url) More Details
