script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
script(src="/javascripts/popper.min.js")
script(src="/javascripts/bootstrap.min.js") 

script.
  window.jQuery || document.write('<script src="/javascripts/jquery-slim.min.js"><\\/script>');   
