extends layout

block title
  title Update User

block stylesheets
  link(href="/stylesheets/generic-form.css" rel="stylesheet")

block content
  main.container(role='main').text-center
    h1.h3.mb-3.font-weight-normal Update User
    form.generic-form(method='POST' action='')
      label.sr-only(for="username") Username
      input#inputText.form-control(type="text" name="username" value=(user.username === undefined ? '' : user.username) placeholder="Username" required="" autofocus="")
      label.sr-only(for="email") Email
      input#inputEmail.form-control(type="email" name="email" value=(user.email === undefined ? '' : user.email) placeholder="Email Address" required="" autofocus="")

      button.btn.btn-lg.btn-primary.btn-block(type="submit") Update User
      
    if errors 
      ul
        for error in errors
          li!= error.msg