extends layout

block title
  title Delete User

block content
  main.container(role='main').text-center
    h1 Delete: #{user.username}, #{user.email}
    p= user.lastname
    p Do you really want to delete this User?

    form(method='POST')
      div.form-group
      button.btn.btn-primary(type='submit') Delete