extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='username') Username:
      input#email.form-control(type='text', placeholder='Username' name='username' value=(undefined===user ? '' : user.username))
      label(for='password') Password:
      input#password.form-control(type='password', placeholder='Password' name='password' value=(undefined===user ? '' : user.password))
    button.btn.btn-primary(type='submit') Log In

  if errors 
    ul
      for error in errors
        li!= error.msg
  if authFail 
    ul
      li!= authFail
