extends layout

block title
  title User Detail

block content
  main.container(role='main').text-center
    h1 User: #{session.user.username}
    p #[strong Email:] #{session.user.email}
    div(style='margin-left:20px;margin-top:20px')